{% extends '@view/dashboard/base.html.twig' %}

{% block page_header %} Dashboard {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-lg-6">
            {% embed '@partial/card.html.twig' with {'title': 'Recent Polls', 'subTitle': 'A list of your 5 most recent polls.'} %}
                {% block body %}
                    {% include 'poll/_partial/poll_list.html.twig' with {'polls': recentPolls} only %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
